.name {
    text-align: center;
    font-size: 32px;
    background-color: rgb(138, 104, 80);
    padding: 10px;
}

.moreInfo {
    text-align: center;
    white-space: nowrap;
}

hr {
    border-top: 2px solid black;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

.degree {
    display: block;
    font-weight: bold;
    font-style: italic;

}

.experience-header, .school-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-weight: bold;
    font-size: 20px;
}

.job-description, .project-description {
    max-width: 2000px;
    margin: 0 auto;
    font-size: 16px;
}

.section {
    text-transform: uppercase;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
}