h1 {
    text-align: center;
    font-size: 32px;
}

.moreInfo {
    text-align: center;
    white-space: nowrap;
}

hr {
    border-top: 2px solid black;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

.degree {
    display: block;
    font-weight: bold;
    font-style: italic;

}